[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "EntropyEstimation"]
	path = EntropyEstimation
	url = https://github.com/cran/EntropyEstimation
	shallow = true
	registered = true
[submodule "SubTS"]
	path = SubTS
	url = https://github.com/cran/SubTS
	shallow = true
	registered = true
[submodule "SymTS"]
	path = SymTS
	url = https://github.com/cran/SymTS
	shallow = true
	registered = true
